# STM32CubeIDE derleme ciktilari
Debug/
Release/
*.o
*.d
*.su
*.elf
*.bin
*.hex
*.map
*.list

# Eclipse/CubeIDE gecici dosyalari
.settings/
.metadata/
*.launch
RemoteSystemsTempFiles/

# CubeMX yedekleri
*.ioc.bak
.mxproject

# Windows
Thumbs.db
desktop.ini